body {
  background-image: url('food-healthy-vegetables-potatoes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

div.page_container {
  width: 400px;
  margin: 5px auto auto auto;
  padding: 25px;
  text-align: center;
  background-color: #edebd6;
  border-radius: 5%;
}

#input_item {
  width: 70%;
  padding: 5px;
}

#id_button_add {
  width: 25%;
  background-color: #ddf595;
  border: 2px solid #2e8301;
  color: #2e8301;
  font-size: 20px;
}

#id_button_add:hover {
  background-color: #2e8301;
  color: #ddf595;
}

ul, li {
  list-style-type: none;
  margin: 5px 20px 5px 25px;
  text-align: left;
}

.button_delete {
  margin: 5px 5px 5px 30px;
  background-color: #e6c987;
  border: 1px solid #e6bb5a;
  color: #ff8b00;
  margin-right: 10px;
}

.button_delete:hover {
  background-color: #e6bb5a;
}

#id_button_clear {
  width: 100%;
  background-color: #ffad05;
  border: 2px solid #d5340a;
  color: #d5340a;
  font-size: 20px;
}

#id_button_clear:hover {
  background-color: #d5340a;
  color: #ffad05;
}